
.overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 100;
    background: #000;
    opacity: 0.7;
}

.memo-input-container {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 300px);
    z-index: 110;
}

.memo-input-container button {
    margin: 0 20px;
    border: 2px solid #fff;
    background: #f571;
    padding: 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    width: 40%;
    top: 100%;
    right: 0;
    position: absolute;
}

.memo-input-container>button:last-child {
    top: 100%;
    left: 0;
    position: absolute;
}

.memo-input-container button:hover , .memo-input-container button:last-child:hover {
    border: 2px solid #000;
    background-color: #fff;
    color: #000;

}

.memo-input {
    -webkit-appearance: none;
    border: 1px solid #61dafb;
    margin: 20px;
    outline: none;
    padding: 10px;
    line-height: 30px;
    color: #000;
    width: 600px;
    height: 300px;
}
