.App {
  text-align: center;
}

.add-btn {
  outline: none;
  display: block;
  margin: 10px 20px 10px auto;
  font-size: 17px;
  background-color: #fff;
  border:2px solid #000;
  transition: 0.3s;
}

.add-btn:hover {
  transition: 0.3s;
  transform: scale(1.03);
  border : 2px solid #f50057;

}

.add-btn>i{
  transition: 0.4s;
  pointer-events: none;
}

.add-btn:hover >i {
  animation: add-btn-spin infinite 10s linear;
  color: #f50057;
}


@keyframes add-btn-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
